<form method="GET" class="form row">
  <input class="form__input row__item"
    type="text"
    name="q"
    placeholder="+tag1 -tag2 task"
    value="{{ app.request.get('q', '') }}" />
  <button class="form__button row__item" type="submit">Search</button>
</form>
