<div>
  <form method="GET" class="grid grid_search">
    <input type="text"
      name="q"
      placeholder="+tag1 -tag2 task"
      value="{{ app.request.get('q', '') }}" />
    <button type="submit">Search</button>
  </form>
</div>
