{% extends 'base.html.twig' %}

{% block title %}Current{% endblock %}

{% block content %}
<div class="container container_lg">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit">Create</button>
  {{ form_end(form) }}
</div>
{% endblock %}
