{% extends 'base.html.twig' %}

{% block title %}
  Add task
{% endblock %}

{% block content %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="form__button">Create</button>
  {{ form_end(form) }}
{% endblock %}
