{% extends 'base.html.twig' %}

{% block title %}Current{% endblock %}

{% block body %}
<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td><a href="{{ url('task_view', {id: task.id}) }}">{{ task.id }}</a></td>
      <td>{{ task.title }}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="2">No tasks</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
