{% extends 'base.html.twig' %}

{% block title %}Waiting{% endblock %}

{% block content %}
<main class="container container_lg">
  <div class="grid grid_waiting">
    <div class="md-only"><strong>ID</strong></div>
    <div class="md-only"><strong>Age</strong></div>
    <div class="md-only"><strong>Wait</strong></div>
    <div class="md-only"><strong>Remaining</strong></div>
    <div class="md-only"><strong>Title</strong></div>
    {% for task in tasks %}
      <div class="sm-only"><strong>ID</strong></div>
      <div><a href="{{ url('task_view', {id: task.id}) }}" class="mono">{{ task.id|slice(0,8) }}</a></div>

      <div class="sm-only"><strong>Age</strong></div>
      <div>365d</div>

      <div class="sm-only"><strong>Wait</strong></div>
      <div>{{ task.wait|date('Y-m-d')}}</div>

      <div class="sm-only"><strong>Remaining</strong></div>
      <div>365d</div>

      <div class="sm-only"><strong>Title</strong></div>
      <div>{{ task.title }}</div>
    {% endfor %}
  </div>
</main>
{% endblock %}
