{% extends 'settings/layout.html.twig' %}

{% block title %}
  Import from TaskWarrior
{% endblock %}

{% block content %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit">Import</button>
  {{ form_end(form) }}
{% endblock %}
