{% extends 'settings/layout.html.twig' %}

{% block title %}
  Change password
{% endblock %}

{% block content %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="form__button">Update password</button>
  {{ form_end(form) }}
{% endblock %}
