label {
  display: block;
  font-weight: bold;
  color: $yellow;
}

input,
textarea {
  width: 100%;
  padding: $padding;
  border: 1px solid $grey;
  background-color: $black;
  color: $white;
  border-radius: 0;
}

textarea {
  height: 300px;
  font-family: monospace;
}

input[type='checkbox'] {
  width: auto;
}

input:focus,
textarea:focus {
  border: 1px solid $yellow;
}

button,
.btn {
  padding: $padding;
  border: none;
  background-color: $darkgrey;
  color: $yellow;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.btn_orange {
  color: $orange;
}
