label {
  display: block;
  margin: 0.5rem 0;
  font-weight: bold;
  color: $yellow;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid $grey;
  background-color: $black;
  color: $white;
}

textarea {
  height: 300px;
  font-family: monospace;
}

input:focus, textarea:focus {
  border: 1px solid $yellow;
}

button, .btn {
  margin: 0.5rem 0;
  border: none;
  background-color: $black;
  color: $green;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.btn_orange {
  color: $orange;
}

form ul {
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: $pink;
  list-style: none;
}
