$sm: 420px;
$md: 640px;
$lg: 960px;

$margin: 0.5em;

body {
  width: 100%;
}

.mb {
  margin-bottom: $margin;
}

.mt {
  margin-top: $margin;
}

.container {
  width: 100%;
  margin: auto;
}

@media screen and (max-width: $lg) {
  .container {
    padding: 0 0.5rem;
  }
}

.container_sm {
  max-width: $sm;
}

.container_lg {
  max-width: $lg;
}

.row > * {
  display: inline-block;
}

.grid {
  display: grid;
}

.grid_task {
  grid-template-columns: min-content auto;
}

.grid_current {
  grid-template-columns: min-content min-content min-content max-content auto;
}

.grid_waiting {
  grid-template-columns: min-content min-content max-content min-content min-content auto;
}

.grid_completed {
  grid-template-columns: min-content min-content min-content min-content max-content auto;
}

.grid_search {
  grid-template-columns: auto min-content;
}

.grid__label {
  color: $yellow;
}

.grid > div {
  padding: 0.25rem;
}

@media screen and (max-width: $md) {
  .grid {
    grid-template-columns: min-content auto;
  }

  .grid_task {
    display: block;
  }

  .grid_search {
    grid-template-columns: auto min-content;
  }

  .md-only {
    display: none;
  }
}

@media screen and (min-width: $md) {
  .sm-only {
    display: none;
  }
}

.alert {
  padding: 0.5em;
}
