.body {
  height: 100vh;
}

.body_hidden {
  overflow: hidden;
}

.container {
  width: 100%;
  margin: auto;
  @media screen and (max-width: $lg) {
    padding: 0 $padding;
  }

  &.container_sm {
    max-width: $sm;
  }

  &.container_lg {
    max-width: $lg;
  }
}

.row {
  margin-bottom: $margin;
  width: 100%;

  display: flex;
  align-items: center;
  column-gap: $marginSm;
  .row__item {
    margin-bottom: 0 !important;
  }
}
