.nav {
  display: block;
  border-bottom: 1px solid $orange;
  margin-bottom: $margin;
  @media screen and (max-width: $md) {
    text-align: right;
  }

  .nav__container {
    max-width: $lg;
    margin: 0 auto;
  }

  .nav__item {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: $padding;
    color: $orange;

    &.nav__item {
      @media screen and (max-width: $md) {
        display: none;
      }
    }

    &.nav__item_right {
      float: right;
    }

    &.nav__item_toggle {
      display: none;
      @media screen and (max-width: $md) {
        display: block;
      }
    }

    &.nav__item_active {
      color: $black;
      background-color: $orange;
    }
  }

  &.nav_sub {
    border-bottom: none;

    .nav__item {
      color: $blue;
    }
    .nav__item_active {
      color: $black;
      background-color: $blue;
    }
  }

  &.nav_show {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $black;
    border-bottom: none;
    margin-bottom: 0;

    .nav__item {
      display: block;

      &.nav__item_right {
        float: none;
      }

      &.nav__item_toggle {
        background-color: $darkgrey;
      }
    }
  }
}
