* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  outline: none;
}

.body {
  background-color: $black;
  color: $white;
}

.header {
  margin: $margin 0;
  color: $purple;

  @media screen and (min-width: $md) {
    &.header_mobile {
      display: none;
    }
  }

  &.header_center {
    text-align: center;
  }
}

.image {
  max-width: 100%;
}
