* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  outline: none;
}

body {
  background-color: $black;
  color: $white;
}

a {
  color: $orange;
}

.mono {
  font-family: monospace;
  font-weight: bold;
}
