{% set flashes = app.flashes %}
<div class="container container_lg">
  {% if (flashes|length) > 0 %}
    {% for type, messages in flashes %}
      {% for message in messages %}
        <div class="message message_flash {{ type }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
</div>
