{% set flashes = app.flashes %}
{% if (flashes|length) > 0 %}
  <div class="container container_lg">
    {% for type, messages in flashes %}
      {% for message in messages %}
        <div class="flash {{ type }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}
