{% set nav = [
  {
    route: 'task_waiting',
    label: 'Waiting'
  },
  {
    route: 'home',
    label: 'Current'
  },
  {
    route: 'task_completed',
    label: 'Completed'
  },
  {
    route: 'task_add',
    label: 'Add'
  },
  {
    route: 'settings',
    label: 'Settings'
  },
  {
    route: 'logout',
    label: 'Logout',
    class: ['right']
  }
] %}
{% set current_route =
  app.request.attributes.get('nav_route', app.request.attributes.get('_route'))
%}
<nav class="mb">
  <a href="#" class="toggle">Menu</a>
  {% for item in nav %}
    {% set class =
      (item.class is defined ? item.class : [])
        |merge(current_route starts with item.route ? ['active'] : [])
        |join(' ')
    %}
    <a href="{{ path(item.route) }}" class="{{ class }}">{{ item.label }}</a>
  {% endfor %}
</nav>
