{% set nav = [
  {
    route: 'task_waiting',
    label: 'Waiting'
  },
  {
    route: 'home',
    label: 'Current'
  },
  {
    route: 'task_completed',
    label: 'Completed'
  },
  {
    route: 'task_add',
    label: 'Add'
  },
  {
    route: 'settings',
    label: 'Settings'
  },
  {
    route: 'logout',
    label: 'Logout',
    right: true
  }
] %}
{% set current_route =
  app.request.attributes.get('nav_route', app.request.attributes.get('_route'))
%}
<nav class="nav">
  <div class="nav__container">
    <a href="#" class="nav__item nav__item_toggle">Menu</a>
    {% for item in nav %}
      <a href="{{ path(item.route) }}"
        class="{{
        html_classes(
          'nav__item',
          {
            nav__item_active: current_route starts with item.route,
            nav__item_right: item.right is defined and item.right == true
          }
        )
        }}">
        {{ item.label }}
      </a>
    {% endfor %}
  </div>
</nav>
