{% extends 'base.html.twig' %}

{% block title %}
  {{ status_code }} {{ status_text }}
{% endblock %}

{% block body %}
  <main class="container container_lg">
    <h1 class="header header_center">
      {{ block('title') }}
    </h1>
    <img src="https://placekitten.com/960/720"
      alt="random kitten"
      class="image" />
  </main>
{% endblock %}
