{% extends 'base.html.twig' %}

{% block title %}Current{% endblock %}

{% block content %}
<main class="container container_lg">
  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit">Save</button>
  {{ form_end(form) }}
</main>
{% endblock %}
